* {
  margin: 0px;
  padding: 0px;
}
h3 {
  margin: 10px;
}

.btn {
  height: 30px;
  width: 150px;
  margin: 10px;
  background-color: aqua;
  border: 2px solid blue;
  border-radius: 20px;
}
.btn:hover {
  border: 3px solid red;
  color: blue;
}
.btn:active {
  height: 40px;
  width: 160px;
  border: 3px solid coral;
  color: red;
}
.btn1 {
  height: 30px;
  width: 150px;
  margin: 10px;
  background-color: aqua;
  border: 2px solid blue;
  border-radius: 20px;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  animation-delay: 100ms;
  /* transition: all 500ms ease-in-out 100ms;  this is for single line code*/
}
.btn1:hover {
  border: 4px solid red;
  color: blue;
}
.btn1:active {
  height: 40px;
  width: 170px;
  border: 3px solid coral;
  color: red;
}

section {
  display: flex;
}
.box {
  background-color: purple;
  height: 100px;
  width: 100px;
  margin-left: 20px;
  text-align: center;
  color: white;
  border-radius: 15px;
  transition: all 700ms ease 100ms;
}
#box1:hover {
  transform: rotate(360deg);
}
#box2:hover {
  transform: scale(1.5);
}
#box3:hover{
    transform: skew(45deg);   
   }
   #box4:hover{
    transform: translate(50px,50px);   
   }

