* {
  margin: 0px;
  padding: 0px;
}

.container {
  height: 200px;
  width: 70%;
  margin: 5px;
  border: 2px solid red;
  border-radius: 20px;
  box-shadow: black;
}
.box1 {
  height: 150px;
  width: 150px;
  margin: 20px;
  border: 2px solid red;
  float: right;
  text-align: center;
  border-radius: 20px;
}
.flexbox {
  height: 400px;
  width: 70%;
  margin: 5px;
  border: 2px solid purple;
  border-radius: 20px;
  box-shadow: black;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 2;
}

.flex {
  height: 150px;
  width: 150px;
  margin: 20px;
  border: 2px solid blue;
  text-align: center;
  border-radius: 20px;
}
#flex7 {
  align-self: flex-start;
  flex-shrink: 2;
  flex-grow: 1;
  /* off this to check flex shrink>>> flex-wrap: wrap; */
}
.resp {
  height: 200px;
  width: 200px;
  background-color: purple;
  border-radius: 10%;
  text-align: center;
  font-style: italic;
  color: white;
  font-size: 30px;
}
@media screen and (max-width: 500px) and (min-width: 200px) {
  .resp {
    border-radius: 50%;
  }
}

.contain {
  margin-left: 12px;
  display: flex;
}
.know {
  height: 200px;
  width: 200px;
  background-color: blue;
  margin-left: 5px;
  border: 2px solid red;
  border-radius: 0px 20px 0px 20px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-style: italic;
}
a {
  text-decoration: none;
}
