* {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.box1 {
  height: 300px;
  width: 300px;
  background-color: red;
  font-size: 25px;
}
.box2 {
  background-color: purple;
  width: 60%;
  height: 70%;
  font-size: 2em; /* em means twice of parent and rem means as a root */
}

.box3 {
  background-color: blue;
  width: 30vw;
  height: 30vh;
  font-size: 2rem; /* em means twice of parent and rem means as a root */
}

.box {
  height: 100px;
  width: 100px;
  background-color: aqua;
  margin: 5px;
  text-align: center;
}

#box10{
    position: static;
}
#box11{
    position: relative;
    top: 10px;
    left: 10px;
    background-color: rebeccapurple;
    z-index: -1;
}
#box12{
    position: absolute;/* this take with respect to web page starting point topleft"*/
    top: 200px;
    left: 200px;
}
#box13{
    position: fixed;
    right: 20px;
    bottom: 5px;   

}